:root.theme-light {
  --main-font-family: "IBM Plex Mono", "monospace";
  --background-color: #fff1f7;
  --text-color: #353430;
  --lesser-title-color: rgb(53, 52, 48);
  --btn-hover-color: rgba(53, 52, 48, 0.5);
  --accent-color: #ff8dcb;
  --grand-header-color: rgb(255, 194, 230);
  --title-color: rgb(255, 194, 230);
  --question-color: rgb(53, 52, 48);
  --background-image: url("../images/cover-image-light.png");
}

.theme-light .rec-btn {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font-family: "IBM Plex Mono", "monospace";
    --background-color: #fff1f7;
    --text-color: #353430;
    --lesser-title-color: rgb(53, 52, 48);
    --btn-hover-color: rgba(53, 52, 48, 0.5);
    --accent-color: #ff8dcb;
    --grand-header-color: rgb(255, 194, 230);
    --title-color: rgb(255, 194, 230);
    --question-color: rgb(53, 52, 48);
    --background-image: url("../images/cover-image-light.png");
  }
  .rec-btn {
    display: none;
  }

  .theme-light .rec-btn {
    display: none;
  }
}
